.dashboard {
  width: 100%;
  min-height: 500px;
}

.main {
  padding: 30px;
  background-color: #ffffff;
}

.content {
  margin: 30px;
  padding: 16px;
}

.order-form {
  width: 50%;
}

.form-group {
  margin: 1rem 0;
}

.submit-btn {
  width: 300px;
  background-color: #ef7f3a;
  margin: 10px auto;
}
